@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
   
    <p>Have you ever dreamed about your own fantasy basketball league?</p>
    <p>Here you can create one.</p>
</div>
