<div class="text-center" style="color:white">
    <h1 class="display-4">Welcome!</h1>
   
    <h3>Have you ever dreamed about your own fantasy basketball league?</h3>
    <h3>Here you can create one.</h3>
</div>
<hr />
