@using FantasyBasketballLeague.Areas.Admin.Constants
@{
   Layout = AdminConstants.LayoutName;
}

<div class="text-center">
    <h1 class="display-4" style="color:white">Welcome to Admin area</h1>
</div>
