@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-center" style="color: red">PAGE NOT FOUND.</h1>
<h2 class="text-center" style="color: red">An error occurred while processing your request.</h2>
<hr />

<img src="~/error404.jpg" style="margin-left:150px"/>
