@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<@*h1 class="full-screen-main"
    img title="404" src="https: //cdn.dribbble.com/users/2580756/screenshots/5766738/media/f28c030ef3003637a8fa78e63cc0e55e.png">
</h1>*@
<h1 class="text-center" style="color: red">PAGE NOT FOUND.</h1>
<h2 class="text-center" style="color: red">An error occurred while processing your request.</h2>


