@model LeagueAddTeamsModel
@{
    ViewData["Title"] = "Teams Without Leagues";
    var items = (List<SelectListItem>)ViewBag.AddTeams;
}

<div class="row" style="color:white">
    <div class="col-4">
        <form id="roles" method="post">
            <input type="hidden" name="LeagueId" value="@Model.LeagueId" />
            <input type="hidden" name="League" value="@Model.LeagueName" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <h3>League: @Html.DisplayFor(m => m.LeagueName)</h3>
            </div>
            <div class="form-floating">
                <div class="form-group">
                    <label>Teams</label>
                    <select asp-for="TeamNames" asp-items="@items" class="form-control">
                    </select>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-4">
                    <button id="login-submit" type="submit" class="btn btn-success btn-block">Submit</button>
                </div>
                <div class="col-2">
                    <a class="btn btn-primary" title="Go back to previuos page" href='javascript:history.go(-1)'>Back</a>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>