@using FantasyBasketballLeague.Core.Models.League
@model LeagueViewModel

@{
    ViewBag.Title = "Create a new League";
}

<h2 class="text-center" style="color:white" >@ViewBag.Title</h2>
<hr style="color:white"/>

<div class="text-center row">
    <div class="row" style="color:white">
        <div class="col-sm-8 offset-lg-2 col-lg-4 offset-xl-3 col-xl-5">
            <form asp-action="Create" method="post">
                <div class="mb-3" style="margin:auto; font-size:x-large">
                    <label asp-for="@Model.Name" class="form-label">Name</label>
                    <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <input class="btn btn-primary" type="submit" value="Save" />
                <a class="btn btn-secondary" title="Go back to previuos page" href='javascript:history.go(-1)'>Cancel</a>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
